link(rel="stylesheet", href=require("@Sass/partials/elements.scss"))
link(rel="stylesheet", href=require("@Sass/partials/common.scss"))
link(rel="stylesheet", href=require("@Sass/components/toggle.scss"))
link(rel="stylesheet", href=require("@Sass/partials/page.scss"))

link(rel="icon", href=require("@Images/orakeshi-icon.png"))